@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Patrick+Hand&family=Poppins&family=Shizuru&display=swap');

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

nav {
  font-family: "Inter", Sanserif;
  position:static;
 
  
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(/background\ 3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-2 {
  width: 100%;
  height: 100vh;
  background-image: url(/background\ 2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-3 {
  width: 100%;
  height: 100vh;
  background-image: url(/background\ 5.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero4 {
  width: 100%;
  height: 100vh;
  background-image: url(/bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.hero-5 {
  width: 100%;
  height: 100vh;
  background-image: url(/background\ 6.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  background-color: none;
  overflow: hidden;
  z-index: 9;
  height: 75px;
}

a {
  text-decoration: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav .logo {
  float: right;
}

nav .logo span {

  color: white;
  text-align: center;
  font-size: 29px;
  text-decoration: none;
  margin-right: 28px;
  font-family: "Shizuru", cursive;
  letter-spacing: 5px;
}

nav ul li a:hover {
  background-color: #ddd;
  color: black;
}

nav ul li a.active {
  background-color: skyblue;
  color: white;
}

nav ul {
  float: left;
  margin-top: 10px;
  z-index: 9;
}

nav ul li {
  list-style: none;
  display: inline-block;

}

nav ul li a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 15px;

}

.contnt {
  color: white;
  line-height: 6px;
  position: fixed;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 1;
}

.big {
  font-size: 80px;
  margin: 10px 0 30px;
  line-height: 80px;
}

.coolbut {
  background-color: transparent;
  border-radius: 20px;
  padding: 10px 25px;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  color: white;
}
.container{
  z-index: 1;
}

.content button:hover {
  background-color: #ddd;
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;


  color: white;
  text-align: center;
}

.container .box {
  position: relative;
  width: 320px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;




}

.container .box .icon {
  position: relative;
  height: 80px;
  width: 80px;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;

}

.container .box:nth-child(1) .icon {
  box-shadow: 0 0 0 0 #e91e63;
  background: #e91e63;

}

.container .box:nth-child(1):hover .icon {
  box-shadow: 0 0 0 400px #e91e63;


}

.container .box:nth-child(2) .icon {
  box-shadow: 0 0 0 0 #23e629;
  background: #23e629;

}

.container .box:nth-child(2):hover .icon {
  box-shadow: 0 0 0 400px #23e629;


}

.container .box:nth-child(3) .icon {
  box-shadow: 0 0 0 0 #2196f3;
  background: #2196f3;

}

.container .box:nth-child(3):hover .icon {
  box-shadow: 0 0 0 400px #2196f3;


}


.container .box .content {
  position: relative;
  z-index: 1;
  transform: .5s;
}

.container .box:hover .content {
  color: #fff
}

.container .box .content h3 {
  font-size: 20px;
  margin: 10px 0;
  padding: 0;
  font-weight: bold;


}

.container .box .content p {
  margin: 0;
  padding: 0;

}

.container .box:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .2);
  z-index: 2;
  pointer-events: none;


}

.buton {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1vh;

  font-family: 'Shizuru', sans-serif;
  float: left;
}

.buton a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-transform: ;
  letter-spacing: 1px;
  font-size: 24px;
  overflow: hidden;
  transition: .2s;
  font-weight: bold;
  color: #02b308
}

.buton a:hover {
  color: white;
  background: #23e629;
  box-shadow: 0 0 10px #23e629, 0 0 40px #23e629, 0 0 80px #23e629;
  transition-delay: 1s;

}

a span {
  position: absolute;
  display: block;

}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #23e629);
}

a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}


a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #23e629);
}

a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: .5s;
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #23e629);
}

a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: .25s;
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #23e629);
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: .75s;
}


.hedo {
  margin: 0px;
  padding: opx;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.section {
  width: 100%;
  min-height: 100vh;
  background: transparent;
  z-index: 0;
}

.container2 {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;


}

.content-section {
  float: left;
  width: 55%;
}

.image-section {
  float: right;
  width: 40%;
}

.image-section img {
  width: 100%;
  height: auto;

}

.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
  color: rgb(31, 29, 29);
}

.content-section .content2 h3 {
  margin-top: 20px;
  color: #23e629;
  font-size: 21px;
}

.content-section .content2 p {
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff
}

.content-section .content2 .func {
  margin-top: 0px;
  float: left;

}

.content-section .social {
  margin-top: 90px;
  float: let;
}

.content-section .social i {
  color: #a6ff00;
  font-size: 27px;
  padding: 0px 10px;

}

.content-section .social i:hover {
  color: #e7f70a
}

.ide {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

}

.ide {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 30vh;
  background: #091921;

}

.caculator {
  position: relative;
  display: grid;
  margin-top: 90px;
}

.caculator .value {
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 0px;
  font-size: 18px;

}

.caculator span {
  display: grid;
  width: 60px;
  height: 60px;
  color: #fff;
  background: #0c2835;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, .1);

}

.caculator span:active {
  background: #74ff3b;
  color: #111;
}

.caculator span.clear {
  grid-column: span 2;
  width: 120px;
  background: #ff3077;
}

.caculator span.plus {
  grid-row: span 2;
  height: 120px;

}

.caculator span.equal {
  background: #03b1ff;
}

.title-calc {
  text-align: center;
  margin-top: 40px;
  text-decoration: underline;
}

.checkbtn {
  
  font-size: 25px;
  cursor: pointer;
  float: left;
  display: none;
  color: wheat;
  
}

#check {
  display: none;
}

@media screen and (max-width: 990px) {
  nav {
    padding: 0px 50px;

    height: 90px;

  }

  .checkbtn {
    display: block
  }

  nav .logo span {
    font-size: 30px;
  }

  nav ul {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    position: fixed;
    top: 75px;
    left: -100%;
    transition: 1s ease;
    text-align: center;
  }





nav ul li {
  display: block;
  text-transform: uppercase;
  margin: 60px 0px;
  line-height: 20px;
}

#check:checked~ul {
  left: 0;
  transition: 1s ease;
}
#check:checked~.contnt {
disply: none;
}
}
.body{
  font-family: 'Patrick Hand', cursive;
  list-style: none;
  padding: 0;
  margin: 0;
  
  text-transform: uppercase;
}
.skill h1{
  text-align: center;
}
.skill h3 {
  width: 500px;
}
.skill{
  width: 500px;
  margin:60px auto;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  background: #091921;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.skill li{
  margin: 10px 0;
  padding: 10px;

}
.bar{
  background:#353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  overflow:hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,.1);
}
.bar:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgba(236, 0, 140, 1) 0%, rgba(252, 103, 103, 1) 100%);
}
.html{
  width: 90%;
  animation:  html 3s;

}
.css{
  width: 68%;
  animation:  css 3s;
  
}
.javascript{
  width: 15%;
  animation:  javascript 3s;
  
}
.animation{
  width: 25%;
  animation:  animation 3s;
  
}
@keyframes html{
  0%{
    width: 0%
  }
  100%{
    width:100%;
  }
}
@keyframes css{
  0%{
    width: 0%
  }
  100%{
    width:100%;
  }
}
@keyframes javascript{
  0%{
    width: 0%
  }
  100%{
    width:100%;
  }
}
@keyframes animation{
  0%{
    width: 0%
  }
  100%{
    width:100%;
  }
}
.entry-content{
  color: white;
  margin-top: 60px;
  list-style:initial;
  background: #111;
  

  
  
}
.entry-content h1{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: wheat
}
.entry-content p{
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.entry-content strong{
font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color:rgba(236, 0, 140, 1);

}